<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザ情報検索</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
    <meta charset="UTF-8" />
</head>
<body>
    <h1>ユーザ情報検索</h1>
    <form th:action="@{/user/id_search}" th:object="${userSearchRequest}"
          th:method="post">
        <div>
            ID:<input type="text" th:field="*{id}" size="40" />
        </div>
        <br />
        <div>
            <input type="submit" value="検索" style="width: 100px;" />
        </div>
        <br />
    </form>
    <div th:if="${userinfo}">
        <table th:object="${userinfo}">
            <tr>
                <th class="cell_title">名前</th>
                <th th:text="*{name}"></th>
            </tr>
            <tr>
                <th class="cell_title">住所</th>
                <th th:text="*{address}"></th>
            </tr>
            <tr>
                <th class="cell_title">電話番号</th>
                <th th:text="*{phone}"></th>
            </tr>
        </table>
    </div>
</body>
</html>